header,
body {
  margin: 0%;
  padding: 0%;
}
.style123{
  color: #01bf71;
  font-size: 15px;
  margin-left: 138px
}
.style12{
  color: #01bf71;
  font-size: 15px;
  margin-left: 47px
}
.register {
  margin-top: 3%;
  padding: 3%;
  background: -webkit-linear-gradient(left, #01bf71, #00fcfcaf);
}

.register .row .register-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}
.register .row .register-left .home1 {
  font-size: 24px;
  text-decoration: none;
  color: white;
  margin-left: 38px;
  transition: 1s;
}
.register .row .register-left .home1:hover {
  color: rgba(0, 0, 0, 0.726);
}
.register .row .register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 80%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

.register .row .register-left h3 {
  font-weight: lighter;
  font-size: 40px;
}

.register .row .register-left p {
  font-size: 21px;
  font-weight: lighter;
  padding: 13%;
  margin-top: -4%;
  line-height: 25px;
}

.register .row .register-left .submit1 {
  text-decoration: none;
  border: none;
  border-radius: 1.5rem;
  padding: 20px 30px 20px 30px;
  background: #f8f9fa;
  font-weight: bold;
  color: #01bf71;
  margin-top: 10%;
  margin-bottom: 3%;
  cursor: pointer;
  font-size: 32px;
}
.register .row .register-left .submit1:hover {
  color: black;
}
.register .row .register-right {
  background: #f8f9fa;
  border-top-left-radius: 20% 50%;
  border-bottom-left-radius: 20% 50%;
}

.register .row .register-right .tab-content h3 {
  padding: 7%;
  margin-left: 230px;
}

.register .row .register-right .tab-content .register-form {
  margin-top: -10px;
}

.register .row .register-right .tab-content .register-form .form-group {
  width: 70%;
  margin-left: 30%;
}

.register .row .register-right .tab-content .register-form .ab {
  margin-left: 10%;
}

.register .row .register-right .tab-content .btnRegister {
  margin-left: 250px;
  border: none;
  border-radius: 1.5rem;
  padding: 1%;
  background: #01bf71;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.register .row .register-right .tab-content .btnRegister:hover {
  -webkit-animation: rotate 0.8s ease-in-out both;
  animation: rotate 0.8s ease-in-out both;
}

.register .row .register-right .tab-content .btnRegister .dk {
  margin-left: 40%;
  font-size: 25px;
}

.register .row .register-right .tab-content .btnRegister .dk:hover {
  -webkit-animation: storm 0.7s ease-in-out both;
  animation: storm 0.7s ease-in-out both;
  -webkit-animation-delay: 0.06s;
  animation-delay: 0.06s;
}

.register .row .register-right .tab-content .btnchung {
  margin-left: 164px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.register .row .register-right .tab-content .btnchung .btn1 {
  font-weight: lighter;
  color: white;
  font-size: 20px;
  float: left;
  background: #3b5998;
  padding: 10px 15px 10px 20px;
  border-top-left-radius: 20% 50%;
  border-bottom-left-radius: 20% 50%;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.register .row .register-right .tab-content .btnchung .btn1:hover {
  font-size: 22px;
  -webkit-transition: 1s;
  transition: 1s;
}

.register .row .register-right .tab-content .btnchung .btn2 {
  color: white;
  padding-left: 15px;
  float: right;
  font-weight: lighter;
  font-size: 20px;
  background: #dd4b39;
  padding: 10px 20px 10px 15px;
  border-top-right-radius: 20% 50%;
  border-bottom-right-radius: 20% 50%;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.register .row .register-right .tab-content .btnchung .btn2:hover {
  font-size: 22px;
  -webkit-transition: 1s;
  transition: 1s;
}

.register .row .register-right .tab-content .register-heading {
  font-weight: lighter;
  font-size: 40px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: rotate(4deg) translate3d(0, 0, 0);
    transform: rotate(4deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotate(-3deg) translate3d(0, 0, 0);
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    -webkit-transform: rotate(1deg) translate3d(0, 0, 0);
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: rotate(4deg) translate3d(0, 0, 0);
    transform: rotate(4deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotate(-3deg) translate3d(0, 0, 0);
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    -webkit-transform: rotate(1deg) translate3d(0, 0, 0);
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes storm {
  0% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    -webkit-transform: translate3d(4px, 0, 0) translateZ(0);
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(-3px, 0, 0) translateZ(0);
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    -webkit-transform: translate3d(2px, 0, 0) translateZ(0);
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@keyframes storm {
  0% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    -webkit-transform: translate3d(4px, 0, 0) translateZ(0);
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(-3px, 0, 0) translateZ(0);
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    -webkit-transform: translate3d(2px, 0, 0) translateZ(0);
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@-webkit-keyframes mover {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

@keyframes mover {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
/*# sourceMappingURL=1.css.map */
