/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  background: #f5f5f5;
  color: #434343;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} /* Changable Global Styles -------------------------------------------------- */
*::-moz-selection {
  color: #ff9e98;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 10px 0;
  line-height: 18px;
}
.light {
  font-weight: 300;
}
.regular,
strong {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
a {
  transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
}
a:focus {
  outline: medium none;
  outline-offset: 0;
}
a:hover,
a:focus,
a {
  text-decoration: none;
}
ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
ul:after {
  clear: both;
  content: "";
  display: block;
}
li {
  line-height: 18px;
  transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
}
img {
  max-width: 100%;
  height: auto;
} /*~~ text align style ~~*/
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
} /*~~ position ~~*/
.relative {
  position: relative;
}
.absolute {
  position: absolute;
} /*Color*/
.light-red {
  color: #fe5252;
}
.gray {
  color: #ccc;
}
.red {
  color: #ff3a3a;
}
.red-bg {
  background: #ff3a3a;
}
.yellow-bg {
  background: #fcff19;
}
.black-bg {
  background: #353535;
}
.gray-bg {
  background: #ccc;
}
.pink-bg {
  background: #ff26cf;
}
.dkpink-bg {
  background: #5c2c5d;
}
.chocolate-bg {
  background: #520000;
}
.chocolatelight-bg {
  background: #9a5b3b;
}
.biscuit-bg {
  background: #8e665e;
}
.lightgreen-bg {
  background: #84e25a;
}
.extra-lightgreen-bg {
  background: #b1cb5e;
}
.off-white-bg {
  background: #b1cb5e;
}
.orange-bg {
  background: #ff5313;
} /*Transition Animation*/
a,
button,
.button,
.products,
.name,
.price,
.fa,
.sequence-next,
.sequence-prev {
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -ms-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75); /* linear */
} /*form element */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
textarea {
  background: #fff;
  padding: 8px 15px;
  border: 1px solid #cccccc;
  font-size: 14px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #ff8e87;
  outline: none;
} /* button */
.button,
button {
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  font-size: 14px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  outline: none;
}
.button:hover,
button:hover {
  border: 1px solid #fe5252;
  color: #fe5252;
}
.add-cart {
  padding: 9px 30px;
}
.compare,
.wishlist {
  padding: 9px 10px;
  font-size: 18px;
} /* End of global estyle-------------------------------------------------- */ /* customizable Style */
.wrapper {
  position: relative;
  width: 100%;
}
.header,
.footer,
.container_fullwidth {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container_fullwidth {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
} /* HEADER STYLE */
.products {
  border: 1px solid #e1e1e1;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
}
.products:hover {
  background: #fff;
  border-color: #f7544a;
  -webkit-box-shadow: 0 0 5px 1px #d3d3d3;
  box-shadow: 0 0 5px 1px #d3d3d3;
}
.offer {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background: #f7544a;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.thumbnail {
  float: left;
  position: relative;
  width: 100%;
  margin: 45px 0 5px 0;
  padding: 0;
  height: 280px;
  border: none;
  text-align: center;
}
.imageCombo{
  width: 100%;
  height: 250px;
}
.productname {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #2f2f2f;
  margin-bottom: 10px;
  color: #333333;
}
.products .price {
  float: left;
  width: 100%;
  color: #ff1e2c;
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 24px;
}
.products .button_group {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
.products .button {
  margin-left: 10px;
}
.products .button .fa {
  color: #f7544a;
}
.products .button:hover {
  background: #f7544a;
  color: #fff;
}
.products .button:hover .fa {
  color: #fff;
} /* products-grid */

.products-details {
  position: relative;
  width: 100%;
}
.preview_image {
  float: left;
  width: 350px;
  height: 360px;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
}
.preview-small {
  display: block;
  
  margin-top: 10px;
  position: relative;
}
.imageDetail{
  width: 100%;
  height: 340px;
}
.preview-small .zoom {
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 1;
  font-size: 24px;
  color: #b0b0b0;
}
.thum-image {
  position: relative;
  width: 240px;
  margin: 15px auto 5px;
}
.thum-image li {
  width: 57px;
  height: 57px;
  padding: 5px;
  display: inline-block;
}
.thum-image li a {
  float: left;
  width: 47px;
  height: 47px;
  padding: 3px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.thum-image li a:hover {
  border-color: #f7544a;
}
.thum-image li a img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.thum-image .control-left,
.thum-image .control-right {
  position: absolute;
  top: 20px;
  left: -20px;
  font-size: 20px;
  color: #b0b0b0;
}
.thum-image .control-right {
  left: auto;
  right: -20px;
}
.thum-image .control-left:hover,
.thum-image .control-right:hover,
.preview-small .zoom:hover {
  color: #f7544a;
}
.products-description {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  display: block;
  margin: 15px 150px 15px 400px;
  padding: 20px;
  position: relative;
  overflow: hidden;

}
.products-description .name {
  font-weight: 400;
  margin-bottom: 15px;
  margin-left: 80px;
  line-height: 25px;
}
.border {
  border-color: #e1e1e1;
}
.products-description .price {
  font-weight: 400;
  width: 100%;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 80px;
}
.products-description .price .new_price {
  font-size: 30px;
  color: #ff3636;
  font-weight: 500;
  margin-left: 30px;
}
 .new_price2 {
  font-size: 30px;
  color: #494949;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.products-description .new_price sup {
  font-size: 18px;
}
.products-description .old_price {
  color: #666666;
  font-size: 18px;
  text-decoration: line-through;
  margin-left: 30px;
}
.products-description .old_price sup {
  font-size: 13px;
}
.wided {
  float: left;
  left: 100px;
  position: relative;
}
.products-description .qty {
  float: left;
  font-weight: 400;
  width: auto;
  font-size: 13px;
  vertical-align: middle;
}
.products-description .qty select {
  margin-left: 30px;
}
.products-description .button_group {
  float: right;
} /** tab style **/

/* HEADER */
.menu {
  background: rgba(148, 148, 148, 0.438);
}
.logo {
  width: 200px;
  height: 70px;
}
.menu1 {
  margin-top: 20px;
  margin-left: 80px;
  font-size: 20px;
  color: rgb(58, 58, 58);
  transition: 0.5s;
  cursor: pointer;
}
.menu1:hover {
  text-decoration: none;
  font-weight: bold;
}
.footer {
  background: rgba(148, 148, 148, 0.438);
}
.logo1 {
  width: 100%;
  height: 200px;
  padding: 50px 80px 0 80px;
}
.chude {
  font-size: 30px;
  font-family: cursive;
  padding-top: 40px;
}
li {
  font-size: 17px;
  margin-bottom: 10px;
}
.map {
  width: 190px !important;
  height: 200px;
}
.hrr {
  height: 2px;
}
.coppy {
  margin-left: 40%;
}

